@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
  }
  
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
a.active hr{
    display: block;
}
  ::-webkit-scrollbar{
    display: none;
  }
  
  
  @media (max-width:640px) {
    a:active{
        background-color: black;
        color: white;
    }
    .con{
      display: flex;
      position: relative;
      gap: 40px;
      right: 100px;
    }
    .img{
      
    }
  }

  @media (max-width:500px) {
    .con{
    margin-left: -100px;
    }
   
  }

  @media (max-width:400px) {
    .img{
      margin-left: -30px;
     }
     .con{
      position: relative;
      left: -170px;
     }
  }

 

  @media (max-width:1075px) {
   
    .con{
     display: flex;
     gap: 5em;
    }
    
    
  }


  

  
  
